extends layout 
 
block content 
  h1= title 
  if (toShow == null) 
    h2 No instance to update
  else 
    - let whiskeyid = toShow._id 
    - let whiskeytype = toShow.whiskey_type 
    - let whiskeyname = toShow.name
    - let whiskeyprice = toShow.price 
   
    div.row(class='mb-2') 
      div.mr-1 ID is 
      div #{whiskeyid} 
    - let actionid = "/resource/whiskeys/" + whiskeyid 
    form(id='WhiskeyForm', action= actionid, method="PUT") 
      div.form-group 
          label.whiskeyAttr(for='wtype') Whiskey type :
          input#whiskey_type(type='text', name='wtype', value= whiskeytype ) 
      div.form-group 
          label.whiskeyAttr(for='name') Whiskey Name :
          input#name(type='text', name='name', value= whiskeyname ) 
      div.form-group 
          label.whiskeyAttr(for='price') Whiskey Price :
          input#price(type='number', name='price', value= whiskeyprice ) 
      input.buttonAttr(type="submit") 
 
  script. 
    document.forms['WhiskeyForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    }); 