body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.whiskeyAttr { 
  background-color: lightblue; 
  width: 120px; 
} 

.buttonAttr { 
  background-color: greenyellow; 
  width: 120px; 
} 